#add {
    margin-top: 1%;
    float: none;
    margin-left: 0%;
}

li {
    clear: both;
}

button {
    margin-left: 2%;
    margin-bottom: 3%;
    float: right;
}

.supprimer {
    display: none;
}

.mark {
    text-decoration: line-through;
}

ul li::before {
    content: none;
}

@media screen and (max-width : 600px) {

    button {
        float: none;
    }

    li {
        clear: none;
    }
}