#add {
    margin-top: 1%;
    float: none;
}

li {
    clear: both;
}

button {
    margin-left: 2%;
    margin-bottom: 3%;
    float: right;
}

.supprimer {
    display: none;
}

.mark {
    text-decoration: line-through;
}

ul li::before {
    content: none;
}